.container {
  min-height: 25em;
  padding: 2em;
  width: 50%;
  margin: 1em auto;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

*.profil__ul {
  list-style: none;
  font-size: 2em;
}
