<div >
  <h3 class="home__addFriendTitle" >Ajouter ami</h3>
  <form class="home__form" [formGroup]="myForm" (ngSubmit)='addFriend()' >

    <div class="formBlock">
      <label> Email : </label>
      <input formControlName="email" type="text">
    </div> 

    <div class="formBlock" >
      <label > Age : </label>
      <input formControlName="age" type="text">
    </div>

    <div class="formBlock" >
      <label > Famille : </label>
      <input formControlName="famille" type="text">
    </div>

    <div class="formBlock" >
      <label > Race : </label>
      <input formControlName="race" type="text">
    </div>

    <div class="formBlock" >
      <label > Nourriture : </label>
      <input formControlName="nourriture" type="text">
    </div>

    <button type="submit"> Envoyer </button>
  </form>


  <h3 class="home__addFriendTitle">Listes amis</h3>
<div class="home__listContainer">
  <ul  *ngIf="currentUser | async;let user;" >
    <li class="friendList__li" *ngFor='let ami of user.ami' > 
     <p>  <span>Email : </span> {{ami.email}}  </p>
     <p>  <span>Age : </span> : {{ami.age}}  </p>
     <p> <span>Famille : </span> : {{ami.famille}}  </p>
     <p>  <span>Race : </span> : {{ami.race}}  </p>
     <p> <span>Nourriture : </span> : {{ami.nourriture}}  </p>
    </li>
  </ul>

</div>
</div>